@import './components/Header/header';
@import './components/Player/progressBar';
@import './components/Player/controlPanel';
@import './components/Player/volBar';
@import './components/Player/player';
@import './components/Stream/tracksBoard';
@import './components/PlayList/playlist';

* {
  box-sizing: border-box;
}

html, body, .container {
  background-color: #f4f4f4;
  overflow: hidden;
}