@import './components/Player/progressBar';
@import './components/Player/controlPanel';
@import './components/Player/volBar';
@import './components/Player/player';
@import './components/Stream/tracksBoard';

html, body, .container {
  height: 100%;
  background-color: #f4f4f4;
  overflow: hidden;
}