$background-color: transparent;
$search-bg-color: transparent;
$icon-color: #999;
$transition: all .5s ease;

.search {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background-color: $search-bg-color;
    position: relative;
    overflow: hidden;
    transition: $transition;
    &.open {
        width: 150px;
        &:before {
            height: 16px;
            position: absolute;
        }
    }

    @media screen and (min-width: 300px) and (max-width: 450px) {
        display: none;
    }
}

/* IE10+ */
::-ms-clear {
    display: none;
  }
  
  /* Chrome */
  ::-webkit-search-decoration,
  ::-webkit-search-cancel-button,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration { 
    display: none; 
  }

.search-box {
    width: calc(100% - 30px);
    height: 100%;
    box-shadow: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    &:focus {
        outline: none;
    }
}

.search-button {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.search-icon {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid $icon-color;
    display: block;
    position: relative;
    margin-left: 2px;
    transition: $transition;
    &:before, &:after {
        content: '';
        width: 1px;
        height: 7px;
        position: absolute;
        right: -2px;
        top: 11px;
        display: block;
        background-color: $icon-color;
        transform: rotate(-45deg);
        transition: $transition;
    }
    &:after {
        right: -7px;
        top: 16px;
    }
    .open & {
        margin: 0;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        top: -2px;
        &:before {
            transform: rotate(52deg);
            right: 10px;
            top: 11px;
            height: 7px;
        }
        &:after {
            transform: rotate(-230deg);
            right: 10px;
            top: 7px;
            height: 7px;
        }
    }
}